@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-michroma: 'Michroma', sans-serif;
}

html {
  scroll-behavior: smooth;
}